.container{
    background-color:black;
    color: white;
     display: grid;
     margin: -20px;
     font-size: 20px;
    grid-template-columns: repeat(1,60%);
    justify-content: center;
     
}
.title
{
    color: black;
    text-align: center;
    font-size: 50px;
    background-color:white;
}
.content{
    border:2px solid white;
    text-align: center;
    border-radius: 30px;
    background-color: black;
}
